{% extends "base.html" %}
{% block title %}Профайл пользователя {{ author.username }}{% endblock %}
{% block content %}
    <div class="container py-5">
        {{ profile }}
        <h1 class="text-center my-3">Все посты пользователя {{ author.username }}</h1>
        <h3 class="text-center my-3">Всего постов: {{ post_count }}</h3>
        {% for post in page_obj %}
        {% include 'posts/includes/post_card.html' with group_link_flag=1 %}
        {% endfor %}
        {% include 'posts/includes/paginator.html' %}
    </div>
{% endblock %}
